@use "../../../../common/styles/colors";

.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  user-select: none;
  position: relative;

  &__step {
    border-radius: 50%;
    background-color: colors.$contrast--very-light;
    color: colors.$typography--lighter;
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;

    &--current {
      color: colors.$primary;
      background-color: colors.$contrast;
    }
  }
}
