.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  user-select: none;

  &__step {
    border-radius: 50%;
    background-color: grey;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &--current {
      color: white;
      background-color: black;
    }
  }
}
