@use "../../../../common/styles/colors";
@use "../../../../common/styles/breakpoints";
@use "../../../../common/styles/spacings";
@use "../../../../common/styles/transitions";

.sideboard {
  position: fixed;
  width: 70%;
  max-width: 18rem;
  min-height: 100%;
  background-color: colors.$primary;
  background-image: linear-gradient(
    to right top,
    #da938750,
    #bb936550,
    #8f945a50,
    #5a916750,
    #048a8150
  );
  background-size: 600%;
  animation: amazing-background infinite transitions.$animation-medium;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  padding: spacings.$big spacings.$medium;
  font-size: 1.1rem;
  transition: transitions.$fast;
  z-index: 10;

  &__company {
    display: flex;
    align-items: center;
    gap: spacings.$medium;
    line-height: 0;
    margin-bottom: spacings.$medium;

    .icon-wrap {
      font-size: 1.2rem;
      width: 1.1rem;
      height: 1.1rem;
    }

    & > * {
      margin-top: 0;
      margin-bottom: spacings.$medium;
      font-weight: normal;
      font-size: 1.5rem;
    }
  }

  &--contracted {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    & .user-card {
      position: absolute;
      bottom: spacings.$big;
      left: spacings.$medium;
    }
  }

  & .user-card {
    position: absolute;
    bottom: spacings.$big;
    max-width: 87%;
  }
}

@keyframes amazing-background {
  from {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  to {
    background-position: 0%;
  }
}
