@use "../../../../common/styles/spacings";
@use "../../../../common/styles/colors";
@use "../../../../common/styles/transitions";
@use "../../../../common/styles/breakpoints";

.form {
  &__group {
    display: block;
    width: 100%;

    & select {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &--errors {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &--half,
    &--third,
    &--seventh {
      width: 100%;
    }

    &--half {
      @media (min-width: breakpoints.$medium) {
        width: 48%;
      }
    }

    &--third {
      @media (min-width: breakpoints.$medium) {
        width: 48%;
      }
      @media (min-width: breakpoints.$big) {
        width: 31%;
      }
    }

    &--seventh {
      @media (min-width: breakpoints.$big) {
        width: 65%;
      }
    }
  }

  &__label {
    font-weight: bold;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: colors.$typography--lighter;
    display: block;

    &-area {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: spacings.$small;
      gap: spacings.$small;
    }
  }

  &__tooltip {
    position: relative;
    width: 70%;

    &-icon {
      width: 1rem;
      height: 1rem;
      font-size: 0.7rem;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid colors.$typography--very-light;
      transition: transitions.$fast;
      margin-top: 0.8px;

      &:hover {
        background-color: colors.$secondary;
        color: colors.$primary;
        transform: rotateY(180deg);
        border-color: colors.$secondary;
      }
    }

    &:hover {
      & > .tooltip {
        opacity: 100;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }

  &__input {
    border-radius: spacings.$rad-small;
    padding: 0.9rem 1.2rem;
    background-color: colors.$secondary--very-light;
    color: colors.$typography--lighter;
    border: none;
    transition: transitions.$fast;
    width: 100%;

    &:hover {
      background-color: colors.$secondary--lighter;
    }

    &:active,
    &:focus {
      color: colors.$typography;
      background-color: colors.$secondary--light;
      box-shadow: inset 1px 1px 3px 1px rgba(0, 59, 56, 0.1);
    }
  }
}

.form__input--background {
  background-size: 1.5rem !important;
  background-position: 0.9rem !important;
  padding-left: 3rem;

  &:hover,
  &:focus {
    background-size: 1.9rem !important;
    background-position: 0.7rem !important;
  }
}

.tooltip {
  transition: transitions.$fast;
  visibility: hidden;
  opacity: 0;
  padding: spacings.$small--very;
  border-radius: spacings.$rad-small;
  background-color: colors.$secondary--lighter;
  font-size: 0.7rem;

  position: absolute;
  left: 1.8rem;
  top: -50%;
  transform: translateX(1.5rem);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  border: 1px solid colors.$secondary--very-light;
}
