$primary: #fbf5f3;

$secondary--very-light: #048a8126;
$secondary--lighter: #048a814c;
$secondary--light: #048a8177;
$secondary: #048a81;

$typography: rgb(9, 30, 5);
$typography--lighter: rgba(9, 30, 5, 0.7);

$error: rgb(164, 66, 66);
$error--lighter: rgb(199, 188, 188);

$success: rgb(8, 168, 48);
