$primary: #fbf5f3;

$secondary--very-light: rgba(4, 138, 129, 0.149);
$secondary--lighter: rgba(4, 138, 129, 0.3);
$secondary--light: #048a8177;
$secondary: #048a81;

$contrast: #8a1604;
$contrast--very-light: #8a16044a;

$typography: rgb(9, 30, 5);
$typography--lighter: rgba(9, 30, 5, 0.7);
$typography--very-light: rgba(9, 30, 5, 0.3);

$error: rgb(164, 66, 66);
$error--lighter: rgb(199, 188, 188);

$success: rgb(8, 168, 48);
