@use "../../../../common/styles/colors";
@use "../../../../common/styles/spacings";

.board-main {
  display: flex;
  width: 100%;
  gap: spacings.$big;
  min-height: 100vh;
  background: linear-gradient(
      to right top,
      #da938720,
      #bb936520,
      #8f945a20,
      #5a916720,
      #048a8120
    ),
    colors.$primary;
}

.content {
  width: 100%;

  &__header {
    margin-top: spacings.$big;
    min-height: 9rem;
    height: 15%;
    max-height: 13rem;

    & h1 {
      font-size: 3.5rem;
    }
  }
}
