@use "../../../common/styles/spacings";
@use "../../../common/styles/colors";
@use "../../../common/styles/transitions";
@use "../../../common/styles/breakpoints";

.button {
  border-radius: spacings.$rad-small;
  padding: 0.9rem 2rem;
  background-color: colors.$contrast;
  color: colors.$primary;
  border: 1px solid transparent;
  letter-spacing: 1px;
  font-weight: bold;
  transition: transitions.$fast;
  width: fit-content;

  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: spacings.$small;

  &:hover {
    background-color: transparent;
    color: colors.$contrast;
    border-color: colors.$contrast;
  }

  &:hover .button__background {
    transform: translateY(-90%);
    background-color: colors.$primary;
    color: colors.$contrast;
  }

  &:active .button__background {
    transform: translateY(90%);
    background-color: colors.$contrast;
    color: colors.$primary;
  }

  &:active {
    transform: scale(0.9);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: colors.$contrast;
    color: colors.$primary;
    transition: transitions.$fast;
    border: none;
  }
}

.button--outline {
  background-color: transparent;
  color: colors.$contrast;
  border-color: colors.$contrast;

  &:hover {
    background-color: colors.$contrast;
    color: colors.$primary;
  }
}

.button--active.button--outline {
  background-color: colors.$contrast;
  color: colors.$primary;
}

.button--glass {
  background: rgba(251, 245, 243, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(251, 245, 243, 0.3);
  color: colors.$typography;

  &:hover {
    box-shadow: 8px 8px 30px 8px rgba(138, 22, 4, 0.05);
  }
}

.button--tiny {
  border-radius: spacings.$rad-small;
  padding: spacings.$small spacings.$medium;
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 0;

  @media (min-width: breakpoints.$small-medium) {
    padding: spacings.$small--very spacings.$small;
  }

  &-wide {
    padding: spacings.$small--very spacings.$medium;
  }
}
