@use "../../../../common/styles/colors";
@use "../../../../common/styles/spacings";
@use "../../../../common/styles/breakpoints";

.board-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  background: linear-gradient(
      to right top,
      #da938720,
      #bb936520,
      #8f945a20,
      #5a916720,
      #048a8120
    ),
    colors.$primary;

  @media (min-width: breakpoints.$small-medium) {
    flex-direction: row;
    min-height: 100vh;
  }
}

.content {
  width: 100%;
  margin-left: spacings.$medium;
  margin-top: calc(spacings.$header + spacings.$big - 0.3rem);

  @media (min-width: breakpoints.$small-medium) {
    margin-left: spacings.$big;
    margin-top: 0;
  }

  &__header {
    min-height: 9rem;
    height: 15%;
    max-height: 13rem;

    & h1 {
      font-size: 3.5rem;
    }

    @media (min-width: breakpoints.$small-medium) {
      margin-top: spacings.$big;
    }
  }
}
