@use "../../../common/styles/spacings";
@use "../../../common/styles/colors";

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: spacings.$medium;

  &__buttons {
    display: flex;
    margin-top: spacings.$small;
    gap: spacings.$big;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &--error {
    input {
      border-bottom: 1px solid red;

      &:focus,
      &:active {
        border-bottom: 1px solid transparent;
      }
    }

    label {
      color: colors.$error;
    }
  }
}

.errors {
  margin-top: spacings.$small;

  &__message {
    font-size: 0.9rem;
    color: colors.$error;
  }
}

.icon--user {
  background: linear-gradient(
      to bottom,
      colors.$secondary--very-light,
      colors.$secondary--very-light
    ),
    url("./formAssets/icon--user.png") no-repeat;
}

.icon--lock {
  background: linear-gradient(
      to bottom,
      colors.$secondary--very-light,
      colors.$secondary--very-light
    ),
    url("./formAssets/icon--lock.png") no-repeat;
}

.icon--email {
  background: linear-gradient(
      to bottom,
      colors.$secondary--very-light,
      colors.$secondary--very-light
    ),
    url("./formAssets/icon--email.png") no-repeat;
}
