@use "../../../common/styles/spacings";
@use "../../../common/styles/colors";

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: spacings.$medium;

  &--error {
    input {
      border-bottom: 1px solid red;

      &:focus,
      &:active {
        border-bottom: 1px solid transparent;
      }
    }

    label {
      color: colors.$error;
    }
  }
}

.errors {
  margin-top: spacings.$small;

  &__message {
    font-size: 0.9rem;
    color: colors.$error;
  }
}

.icon--user {
  background: linear-gradient(
      to bottom,
      colors.$secondary--lighter,
      colors.$secondary--lighter
    ),
    url("./formAssets/icon--user.png") no-repeat;
}
