@use "../../../../common/styles/spacings";

.user-profile {
  display: grid;

  grid-template-rows: repeat(2, minmax(12rem, min-content));
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  grid-auto-rows: 9rem;
  gap: spacings.$big;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: spacings.$medium;
  }

  &__field-heading {
    margin: 0;
  }
}
