@use "../../../../common/styles/colors";
@use "../../../../common/styles/breakpoints";
@use "../../../../common/styles/spacings";
@use "../../../../common/styles/transitions";

.sideboard {
  position: relative;
  width: 70%;
  max-width: 18rem;
  min-height: 100%;
  background-image: linear-gradient(
    to right top,
    #da938750,
    #bb936550,
    #8f945a50,
    #5a916750,
    #048a8150
  );
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  padding: spacings.$big spacings.$medium;
  font-size: 1.1rem;
  transition: transitions.$fast;

  &__items {
    display: flex;
    flex-direction: column;
    gap: spacings.$big;
  }

  &__company > * {
    margin-top: 0;
    margin-bottom: spacings.$big;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &--contracted {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: spacings.$big;

    & .user-card {
      position: absolute;
      bottom: spacings.$big;
      left: spacings.$medium;
    }
  }

  & .user-card {
    position: absolute;
    bottom: spacings.$big;
  }
}
